<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Code.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetLog</servlet-name>
        <servlet-class>Code.HandleGetLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleShowResult</servlet-name>
        <servlet-class>Code.HandleShowResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleProcessMesh</servlet-name>
        <servlet-class>Code.HandleProcessMesh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleUpLoadFile</servlet-name>
        <servlet-class>Code.HandleUpLoadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRedirection</servlet-name>
        <servlet-class>Code.HandleRedirection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleSmooth</servlet-name>
        <servlet-class>Code.HandleSmooth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleDownLoadFile</servlet-name>
        <servlet-class>Code.HandleDownLoadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleProcessMesh</servlet-name>
        <url-pattern>/HandleProcessMesh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleUpLoadFile</servlet-name>
        <url-pattern>/HandleUpLoadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRedirection</servlet-name>
        <url-pattern>/HandleRedirection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleSmooth</servlet-name>
        <url-pattern>/HandleSmooth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleDownLoadFile</servlet-name>
        <url-pattern>/HandleDownLoadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetLog</servlet-name>
        <url-pattern>/HandleGetLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleShowResult</servlet-name>
        <url-pattern>/HandleShowResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
